@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

body {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-200);
  border-radius: 9999px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: var(--ui-color-primary-400);
  }
}

.fade-enter-active,
.fade-leave-active,
.list-enter-active,
.list-leave-active,
.list-move {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-enter-from {
  opacity: 0;
  transform: translateX(30rem);
}

.list-leave-to {
  scale: 0;
  opacity: 0;
  transform: translateX(30rem);
}

.list-leave-active {
  position: absolute;
}

.overflow-fade {
  mask-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  )
}
